<br>
<br>
<h1>Add a new book to our collection:</h1>

<form action="/books/create" method="POST">

  <label for="">Title:</label>
  <input type="text" name="title">

  <label for="">Author:</label>
  <input type="text" name="author">

  <label for="">Description:</label>
  <input type="text" name="description">

  <label for="">Rate:</label>
  <input type="number" name="rating">

  <label for="">Image:</label>
  <input type="text" name="image">

  <button type="submit">ADD</button>

</form>